.cards {
  padding: 4rem;
  background: #fff;
  width: 100%;
}

.cards > h1 {
  text-align: center;
  font-size: 2rem;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 0px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}
